<launch>
	<include file="$(find enph_ai)/launch/desktop.launch"/>
	<node pkg="enph_ai" name="cmd_vel_to_ackermann_drive" type="cmd_vel_to_ackermann_drive.py">
		<param name="wheelbase" value="0.13"/>
		<!-- <param name="twist_cmd_topic" value="/cmd_vel"/> -->
		<param name="ackermann_cmd_topic" value="/ackermann_vehicle/ackermann_cmd"/>
	</node>
	<include file="$(find ackermann_vehicle_gazebo)/launch/ackermann_vehicle.launch"/>
</launch>
