<launch>
 
  <!-- Start the GSCAM node -->
	<arg name="cam_name" value="overhead_camera" />
	<env name="GSCAM_CONFIG" value="udpsrc port=5000 ! application/x-rtp, media=video, clock-rate=90000, encoding-name=JPEG, payload=26 ! rtpjpegdepay ! jpegdec ! videoconvert" />
	<node pkg="gscam" type="gscam" name="$(arg cam_name)">
		<param name="camera_name" value="$(arg cam_name)" />
		<remap from="camera/image_raw" to="$(arg cam_name)/image_raw" />
	</node>
	<node respawn="true" pkg="joy"
        type="joy_node" name="enph_joy" >
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
    </node>
    
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
		<rosparam command="load" file="$(find enph_ai)/config/teleop_twist_joy.yaml" />
		<remap from="cmd_vel" to="joy_vel"/>
	</node>

	<node pkg="twist_mux" type="twist_mux" name="twist_mux_node">
		<rosparam command="load" file="$(find enph_ai)/config/twist_mux.yaml" />
		<remap from="cmd_vel_out" to="cmd_vel"/>
	</node>
</launch>
