<launch>
  <param name="/use_sim_time" value="true" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find enph353_gazebo)"/>
		<env name="GAZEBO_MODEL_PATH" value="$(find enph353_gazebo)/models"/>
		<arg name="world_name" value="$(find enph353_gazebo)/worlds/353.world"/>
		<arg name="gui" value="true"/>
	</include>

	<include file="$(find enph_ai)/launch/robots.launch"/>

</launch>