<launch>
	<include file="$(find adeept_awr_gazebo)/launch/adeept_awr_urdf.launch">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find enph_ai)"/>
		<env name="GAZEBO_MODEL_PATH" value="$(find enph_ai)/models"/>
	</include>
	<include file="$(find enph_ai)/launch/desktop.launch"/>
	<node pkg="adeept_awr_gazebo" type="velocity_clamp.py" name="fake_adeept_driver" output="screen">
		<param name="src_topic" value="cmd_vel"/>
		<param name="dst_topic" value="skid_vel"/>
	</node>
	<node pkg="enph_ai" type="drive_point_to_point.py" name="Point2PointController" output="screen" respawn="true"/>
</launch>
